/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *,
*::before,
*::after {
  /* remove brower styling */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* width: 100vw; */
  font-family: "Quicksand", sans-serif;
  /* flex */
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  margin: 1rem 12rem 1rem;
  padding: 2rem;
  /* flex */
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 20px;
  justify-content: first baseline;
  /* background-color: aquamarine; */
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.1rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

form {
  font-family: "Quicksand", sans-serif;
}

button, input[type=submit] {
  margin: 1rem;
  padding: 0.25rem 0.8rem 0.25rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

button:hover, input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.9);
  scale: 1.025;
}

/* footer */
footer {
  font-size: 0.8rem;
  margin: 28px 0 12px;
  text-decoration: none;
}

footer a,
footer a:visited {
  color: black;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

footer a:hover {
  opacity: 0.6;
  font-size: 0.85rem;
}

.fa-github {
  color: black;
  position: static;
  transition: 0.4s ease-in-out;
}

.fa-github:hover {
  transform: scale(1.4) rotate(360deg);
}
